<% if (is_post()) { %>
<div class="cube-toc cube-sidebar" id="cube-toc">
    <div class="title">
        <a><%= __('Toc') %></a>
    </div>
    <%- toc(page.content, {
        class: 'toc',
        list_number: theme.post_toc.showNumber,
        max_depth: theme.post_toc.maxDepth,
        min_depth: theme.post_toc.minDepth
    }) %>
</div>
<% } %>