<span class="cube-article-tags">
    <i class="fa fa-tags" aria-hidden="true"></i>
    <% item.tags.data.forEach(function (tag) { %>
    <a href="<%- url_for(tag.path) %>">#<%= tag.name %></a>
    <% }) %>
</span>