<% if (config.author) { %>
    © 2017 <%= config.author %>
<% } else { %>
    © 2017
<% } %>
<br>
Powered by <a href="https://hexo.io/" target="_blank">Hexo</a>.&nbsp;Theme by <a href="https://github.com/ZEROKISEKI" target="_blank">AONOSORA</a>
<br>

<!-- 网站运行时长统计 -->
<span id="sitetime"></span>
<script language="javascript">

    var sitetime = document.getElementById("sitetime")
	function siteTime(){
		window.setTimeout("siteTime()", 1000);

    let start = new Date("2019-09-04");
    let today = new Date();
    
    let d1 = today.getDate();
    let m1 = today.getMonth()+1;
    let y1 = today.getFullYear();
    let d2 = start.getDate();
    let m2 = start.getMonth()+1;
    let y2 = start.getFullYear();

    var getMonthDays = function (y, m) {
        var aMonthDays = [0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];
        if (m == 2 && ((y % 400 == 0) || (y % 4 == 0 && y % 100 != 0))) {
            return 29;
        }
        return aMonthDays[m];
    };

    let y, m, d
    let tempD = 0
    let tmpM = 0
    let tmpY = 0

    if (d1 >= d2) {
      d = d1 - d2
    } else {
      tmpM = -1
      d = getMonthDays(y2, m2) + d1 - d2
    }

    if (m1 + tmpM >= m2) {
      m = m1 + tmpM - m2
    } else {
      tmpY = -1
      m = 12 + m1 + tmpM - m2
    }
    y = y1 + tmpY - y2
       
    let str = "";
    if (y > 0) {
      str = y + '年 ' + ("0"+m).substr(-2) + "月 " + ("0"+(d + 1)).substr(-2) + '天 '
    }else if (m > 0) {
      str =  m + "月 " + ("0"+(d + 1)).substr(-2) + '天 '
    }else if (d > 0) {
      str =  (d + 1) + '天 '
    }

		sitetime.innerHTML=" 我已在此等候你 "+str+("0"+today.getHours()).substr(-2) + '时 ' + ("0"+today.getMinutes()).substr(-2) + '分 ' + ("0"+today.getSeconds()).substr(-2) + '秒'
	}
 
    if(sitetime){
        siteTime();
    }
</script>

<!-- 站内访问统计 -->
<span id="busuanzi_container_site_pv" style='display:none'>本站总访问量<span id="busuanzi_value_site_pv"></span>次 &nbsp; </span>
<!-- <span id="busuanzi_container_site_uv" style='display:none'>访客数<span id="busuanzi_value_site_uv"></span>人次</span> -->
<script async src="https://busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>

<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?<%= theme.analytics.baidu %>";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

<!-- 代码高亮 -->
<script src="/js/prism.js" async></script>



